.ClipList .Clip,
.ClipList .ClipItem {
  margin-bottom: 0.5rem;
}

.Clip {
  border: 1px solid var(--colors-primary);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.ClipControls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ClipControls .ClipControlsButton {
  margin: 0 0.3rem;
}

.ClipItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--colors-primary);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.ClipListItemTitle {
  margin-right: 0.5rem;
}