.Player {
  --player-width: 250px;
  --cover-height: 400px;

  width: var(--player-width);
}

.Cover {
  position: relative;
  height: var(--cover-height);
}

img.CoverImage {
  width: var(--player-width);
  height: var(--cover-height);
}

.Title {
  margin: 0.5rem 0;
  text-align: center;
  color: var(--colors-text);
}
