.Player {
  --player-width: 250px;

  width: var(--player-width);
}

img.Cover {
  width: var(--player-width);
  height: 400px;
}

.Title {
  margin: 0.5rem 0;
  text-align: center;
  color: var(--colors-text);
}
