.Player {
  --cover-height: 400px;

  width: 100%;
}

.Cover {
  position: relative;
  height: var(--cover-height);
}

img.CoverImage {
  width: 100%;
  height: var(--cover-height);
  object-fit: contain;
}

.Title {
  margin: 0.5rem 0;
  text-align: center;
  color: var(--colors-text);
}
