.RangeLabelCurrentValue,
.RangeCurrentValue {
  position: absolute;
  color: var(--colors-primary);
  font-size: var(--font-size-small);
  background-color: var(--colors-white);
  width: fit-content;
  z-index: 5;
}

.RangeLabelMaxValue,
.RangeLabelMinValue {
  position: absolute;
  right: 0;
  color: var(--colors-light-gray);
  font-size: var(--font-size-tiny);
}

.RangeLabelMaxValue {
  right: 0;
}

.RangeLabelMinValue {
  left: 0;
}

.RangeCurrentValue {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--colors-primary-disabled);
  top: 0.3rem;
  border-radius: 50%;
  z-index: 1;
}