html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --colors-primary: #34cfd4;
  --colors-primary-disabled: #0b7c80;
  --colors-light-gray: #b1b1b1;
  --colors-white: #FFFFFF;
  --colors-danger: #dc3545;

  /* font sizes */
  --font-size-small: 1rem;
  --font-size-tiny: 0.8rem;
}
